$select: ".product-beauty-shot" !default;

// config
@use "./../config/queries";
@use "./../config/fonts";

// abstracts
@use "Shared/scss/templates/base/abstracts/group";
@use "Shared/scss/templates/base/abstracts/space";

@mixin base {
    #{$select} {
        overflow: hidden;

        img[src*="tab-fresh-linen"] {
            width: queries.cascade-em(467);
        }

        img[src*="spring-rain"] {
            width: queries.cascade-em(438);
        }

        img[src*="product-packages"] {
            width: queries.cascade-em(992);
        }

        &__grid {
            display: grid;
            grid-template-areas: "title picture" "list picture" "list picture" "list picture" "list picture";
        }

        &__text {
            grid-area: list;

            @include space.between-flow-elements($gap: 1.5em) {
            }
        }

        &__picture {
            grid-area: picture;

            position: relative;

            &::before {
                content: "";
                display: inline-block;
                background: url(/images/Site1/bkg-bubbles.png) no-repeat center
                    center;
                background-size: contain;
                width: queries.cascade-em(1400);
                height: queries.cascade-em(942);

                position: absolute;
                inset: 0;
                margin: auto;

                transform-origin: center center;
                transform: translateX(-15%) translateY(-15%);

                mix-blend-mode: screen;
            }

            img {
                position: relative;
            }
        }

        &__list {
            list-style-type: none;
            max-width: queries.cascade-em(467);
            margin-left: -0.4em;
        }

        &__title {
            grid-area: title;

            font-weight: normal;
            @include fonts.base-rem(85);
            line-height: 1;
            color: white;

            position: relative;

            &::before {
                content: "";
                display: inline-block;
                background: url(/images/Site1/sparkle.png) no-repeat;
                background-size: cover;
                width: queries.cascade-em(100);
                height: queries.cascade-em(100);

                position: absolute;
                left: 0.4em;
                top: -0.4em;

                mix-blend-mode: screen;
            }
        }

        &__button {
            display: flex;

            > * {
                flex: 1;
            }
        }

        @media all and (min-width: queries.set(800)) {
            &__text {
                max-width: 20em;
            }

            &__title {
                max-width: 4em;
            }

            &__picture {
                left: 2.5em;
            }

            &__button {
                max-width: queries.cascade-em(348);
            }
        }

        @media all and (max-width: queries.set(800)) {
            text-align: center;

            &__grid {
                justify-items: center;
                grid-template-areas: "title" "picture" "list";
            }

            &__picture {
                $space: 4em;

                margin: #{$space} auto -#{$space};

                font-size: 1.75vw;
            }

            &__text {
                max-width: 30em;
            }
        }

        @content;
    }
}
