$select: ".product-video" !default;

// config
@use "./../config/fonts";
@use "./../config/queries";

@mixin base {
    #{$select} {
        text-align: center;

        &__title {
            line-height: 1;
            font-size: clamp(fonts.cascade-em(60), 9vw, fonts.cascade-em(113));
            text-transform: uppercase;
        }

        @content;
    }
}
